# 忽略所有虚拟环境文件夹
.venv*/
.vscode-server/

# 忽略缓存和临时文件
__pycache__/
*.pyc
.cache/
*.tmp

# 忽略系统配置文件
.bash_history
.bash_logout
.profile
.motd_shown
.python_history
.sudo_as_admin_successful
.viminfo



# 忽略VS Code本地配置
.vscode/

cat > .gitignore << EOF
# 忽略所有视频格式
*.mp4
*.avi
*.mov
*.mkv

# 忽略系统缓存文件
*Zone.Identifier
.DS_Store
__pycache__/
*.pyc

# 忽略模型权重、日志
*.pth
*.log
EOF
